[submodule "Resumen_TDIII"]
	path = Resumen_TDIII
	url = https://github.com/IgnacioPardo/Resumen_TDIII
[submodule "Resumen-Introduccion-a-la-Estadistica"]
	path = Resumen-Introduccion-a-la-Estadistica
	url = https://github.com/IgnacioPardo/Resumen-Introduccion-a-la-Estadistica
[submodule "TDIV"]
	path = Scripts_TDIV
	url = https://github.com/IgnacioPardo/TDIV/
[submodule "Inferencia_Estadistica"]
	path = Inferencia_Estadistica
	url = https://github.com/IgnacioPardo/Inferencia_Estadistica
[submodule "TDV"]
	path = TDV
	url = https://github.com/IgnacioPardo/TDV
